<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/list.css">
    <title>Rental Marketplace</title>
</head>

<body>
   <main>
       <div id="main"> 
        <% if (user) { %>
            <nav class="navbar">
                <div id="navTextArea">
                 <h1 id="swiftdrop">SwiftDrop.</h1>
                 <h4 id="userName"><%= user.name %>.</h4> 
                </div>
                <div id="navButtonArea">
                 <a id="addItemButton" class="squareButton" href="/items/new">
                     <img class="buttonIcons" src="/images/plus.svg">
                 </a>
                 <a id="LogoutButton" class="squareButton" href="/logout">
                     <img class="buttonIcons" src="/images/exit.svg">
                 </a>
                </div>
            </nav>
        <% } else { %>
            <nav class="navbar">
                <div id="navTextArea">
                 <h1 id="swiftdrop">SwiftDrop.</h1>
                </div>
                <div id="navButtonArea">
                 <a id="signIn" href="/auth/google"> Sign In</a>
                </div>
            </nav>
        <% } %>

           <div id="content-body">
               <h4>Latest Items</h4>
               <div id="itemList">
                   <% items.forEach(i => { %>
                    <a class="singleItem" href="items/<%= i._id %> ">
                        <h3 id="itemName"><%= i.itemName %> </h3>
                        <p id="itemPrice">$<%= i.itemPrice %>.00 </p>
                        <p id="itemSeller"><%= i.itemLocation %> </p>
                        <div id="itemBackground"></div>
                    </a>
                   <% }) %>
               </div>
           </div>

       </div>
   </main>
</body>
</html>

