<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div id="main">
            <div id="navbar">
                <% if (!item.userId.equals(user && user._id)) { %>
                    <a id="closeButton" class="squareButton" href="/">
                        <img class="buttonIcons" src="/images/cancel.svg">
                    </a>
                <% } else { %>
                    <div id="updateDelete">
                        <a id="closeButton" class="squareButton" href="/items/<%=item._id%>/edit">
                            <img class="buttonIcons" src="/images/pen.svg">
                        </a>
                        <form action="/items/<%=item._id%>?_method=DELETE" method="POST">
                            <button id="closeButton" class="squareButton" type="submit">
                                <img class="buttonIcons" src="/images/delete.svg">
                            </button>
                        </form>
                    </div>
                    <a id="closeButton" class="squareButton" href="/">
                        <img class="buttonIcons" src="/images/cancel.svg">
                    </a>
                <% } %>
            </div>

            <div id="line"></div>
            <div id=itemDetail>
                <h1 id="itemName"> <%= item.itemName %> </h1>
                <p class="sectionInfo"> $<%= item.itemPrice %>.00 </p>
                <div id="line"></div>
                <p class="subHeading"> Seller </p>
                <p class="sectionInfo">Hellavalla <%=item.userName%> </p> 
                <p class="subHeading"> Item Location </p>
                <p class="sectionInfo"> <%= item.itemLocation %> </p>
            </div>
            <div id="line"></div>
            <p class="subHeading"> item review </p>
            <% if (item.reviews.length) { %>
                <% item.reviews.forEach(r => { %>
                    <div id="reviewBlock">
                        <p class="subHeading">Hellavalla </p>
                        <p class="sectionInfo"><%= r.feedback %> </p>
                    </div>
                <% }) %>
            <% } %>
            <form action="/items/<%=item._id%>/reviews" method="POST" id="newItem">
                <label>Feedback</label>
                <input type="text" name="feedback" placeholder="e.g. 5" class="input">
                <div class="inputLine"></div>

                <input type="submit" class="submitButton">
            </form>


        </div>
    </main>
</body>
</html>




            

            

          